:root{
  --bg:white;
  --text:#3a3a83;
  --other:#A81470;
  --body_size: 18px;
  --header_size:54px;
  --body_size_phone: 12px;
  --header_size_phone:32px;
  --portrait_width:40%;
  --portrait_width_phone:80%;
}

.dark-theme{
  --bg: #1b154d;
  --text: #c5c3e6;
  --other:#D097BE;
}

.App {
  text-align: left;
  display: flex;
  flex-direction: column
}

#togglecont{
  color: var(--text);
  margin-bottom: 1.3em
} 

#togglecont:hover{
  text-decoration: underline;
  text-decoration-color: var(--text);
}

.container{
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom:5em;
  display: flex;
  z-index: 1;
  overscroll-behavior: contain;
}

.navtext{
  color: var(--text);
  text-align: left;
  font-size: var(--body_size);
  margin-top: 1em;
  margin-left: 5em;
  font-weight: bold;
  position: fixed;
  line-height: 1.3em
  
}

.navtext nav{
  color: var(--text);
}

.navtext ul{
  padding-left: 0px
}

.navtext li{
  list-style-type: none;
  display: block
}

.navtext a{
  color: var(--text);
  text-decoration: none
}

.navtext a:hover{
  text-decoration: underline;
 
}

.text{
  margin-left: 20em;
  margin-right: 1em;
  color: var(--text);
  font-weight:500;
  text-align: left;
  font-size: var(--body_size);
  margin-bottom: auto;
  max-width: 100%;
  line-height:1.3em;
  font-family: Arial Narrow, sans-serif
}

#ref{
  text-decoration: var(--text) none;
  /* color: var(--text); */
  color: var(--other);
  font-weight: none;
}

#ref:hover:hover{
  flex: 4;
  text-decoration: underline
}
.contact span{
  padding-right: 10px
}

.welcome{
  font-size: var(--header_size);
  font-weight: 700;
  line-height: 1.3em;
  text-align: left;
}

#ilocontainer{
  display: flex;
}

#iloa{
  max-width:100%;
  padding-right: 1em;
}

#ilos{
  width: 50%;
  height: auto
}
#decisiontree{
  display: flex;
  width: 100%
}
#dttext{
  flex: 5;
}
#dtContainer{
  flex: 8;
  display: flex;
  flex-direction: column;
}

#dt{
  width: 100%;
  display: block;
}
.iconcontainer {
  display: flex;
  align-items: center; /* Aligns icons and text vertically */
  gap: 8px; /* Adds space between icons */
}

.icons {
  height: 1em; /* Match the text height */
  width: auto; /* Maintains the aspect ratio */
  display: inline-block; /* Ensures icons align with text */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#portrait{
  width: var(--portrait_width);
  height: auto;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 900px){
  #ilocontainer{
    display: none;
    visibility: hidden;
  }

  .container{
    margin-top: 3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 5em;
    z-index: 1;
  }
  
  .navtext{
    color: var(--text);
    text-align: left;
    font-size: var(--body_size_phone);
    margin-top: 0em;
    margin-right:0;
    font-weight: bold;
    position: fixed;
    visibility: hidden;
    font-family: Arial Narrow, sans-serif
  }
  

  .text{
    font-size:var(--body_size_phone);
    display:block;
    margin-left: auto;
    margin-right:auto;
    color: var(--text);
    text-align: left;
    max-width: 90%;
    font-family: Arial Narrow, sans-serif;
  }

  
  #iloa{
    max-width:100%;
  }
  
  #ilos{
    width: 100%;
    height: auto
  }
  #ref{
   
    color: var(--other);

  }
  /* .text #ref{
    text-decoration: underline;
    text-decoration-color: var(--other);
  } */

  .welcome{
    font-size: var(--header_size_phone);
    font-weight: bold;
    line-height: 1.3em;
    text-align: left;
    font-family: Arial Narrow, sans-serif
    
  }

  #portrait{
    width: var(--portrait_width_phone);
    height: auto;
  }

  #press{
    padding-bottom:1em;
  }
}
