:root{
  --bg: hsl(289, 100%, 96%);
  --text: hsl(159, 39%, 31%);
}

.dark-theme{
  --bg: hsl(159, 39%, 31%);
  --text: hsl(289, 100%, 96%);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column
}
#header{
  font-size: 2em;
}

#togglecont{
  background-color: var(--text);
  color: var(--bg);
  height: 3.4em
}

#toggle{
  border: none;
  color: white;
  display: block;
  margin-top:auto;
  margin-left:auto;
  margin-right: auto;
  margin: auto;
  text-decoration: none;
  font-size: 16px;
  max-width: 10em;
  height: 10em;
  transform: scale(0.8)
}

#note{
  width: 100%;
  font-size: 2em;
  margin-bottom: auto;
  background-color: var(--text);
  color: var(--bg);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  z-index:-1;
}

.container{
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 0em;
  margin-bottom:5em;
  display: flex;
  z-index: 1;
}

.navtext{
  color: var(--text);
  text-align: left;
  font-size: 3em;
  margin-top: 1.5em;
  margin-right: 2em;
  margin-left: 2em;
  font-weight: bold;
  position: fixed;
}

.navtext nav{
  color: var(--text);
  margin:0px
}

.navtext ul{
  margin: 0
}

.navtext li{
  list-style-type: none;
  display: block
}

.navtext a{
  color: var(--text);
  text-decoration: none
}

.navtext a:hover{
  color: var(--bg);
  background-color: var(--text);
  text-decoration: none
}

.text{
  margin-top: 1em;
  margin-left: 15em;
  margin-right: 2em;
  color: var(--text);
  text-align: left;
  font-size: 3em;
  margin-bottom: auto;
  max-width: 100%
}

#ref{
  text-decoration: var(--text) underline;
  color: var(--text)
}

#ref:hover:hover{
  flex: 4;
  color: var(--bg);
  background-color: var(--text);
  text-decoration: none
}

.contact span{
  padding: 10px
}
.welcome{
  font-size: 8vw;
  font-weight: bold
}

.welcome span:hover{
  color: var(--bg);
  background-color: var(--text);
  text-decoration: none;
}
#ilocontainer{
  display: flex;
}

#iloa{
  max-width:100%;
  padding-right: 1em;
}

#ilos{
  width: 50%;
  height: auto
}
#decisiontree{
  display: flex;
  width: 100%
}
#dttext{
  flex: 5;
}
#dtContainer{
  flex: 8;
  display: flex;
  flex-direction: column;
}

#dt{
  width: 100%;
  display: block;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media only screen and (max-width: 900px){

  .container{
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    z-index: 1;
  }
  
  .navtext{
    color: var(--text);
    text-align: left;
    font-size: 2em;
    margin-top: 0.5em;
    margin-right: 50px;
    font-weight: bold;
    position: fixed;
    visibility: hidden;
  }
  
  .navtext{
    font-size: 1em;
  }

  .text{
    display:block;
    margin-left: auto;
    margin-right:auto;
    color: var(--text);
    text-align: left;
    font-size: 1em;
    max-width: 90%;
  }

  .welcome{
    font-size: 3em;
    font-weight: bold
  }

  #ilocontainer{
    display: block;
  }
  
  #iloa{
    max-width:100%;
  }
  
  #ilos{
    width: 100%;
    height: auto
  }

  #note b{
    width: 100%;
    font-size: 0.5em;
    background-color: var(--text);
    color: var(--bg);
    margin-top:auto;
    margin-bottom: auto;
    display: block;
  }
}
